AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: 'Never'
BasedOnStyle: Google
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: 'true'
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true

IncludeBlocks: 'Preserve'
IndentWidth: 4
ColumnLimit: 150
BreakInheritanceList: AfterColon
CompactNamespaces: false
Cpp11BracedListStyle: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DisableFormat: false
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
FixNamespaceComments: true
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: false
SortIncludes: 'CaseInsensitive'
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: 'Never'
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: true
Standard: Latest
